<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjdtl.eyesafer">

    <!-- 블루투스 권한 등록 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 자동 실행 리시버 권한 등록 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 시스템 화면 밝기 조절 권한 등록 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 현재 Task 반환 권한 등록 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 특정 View를 다른 앱이나 뷰 위에 보여주기 위한 권한 등록(블루라이트 기능)  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".StartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".BlueLightService"/>

        <activity
            android:name=".BrightnessActivity"
            android:excludeFromRecents="true"
            android:theme="@style/EmptyActivity"></activity>

        <activity
            android:name=".DeviceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/EmptyActivity"></activity>
    </application>

</manifest>